@import '../config/colors';

.card {
    width: 50em;
    height: 19em;

    background: $white;

    border-radius: 10px;

    display: grid;
    grid-template-columns: 20em auto;
    grid-template-areas: 'image info';

    box-shadow: 0 0 1em 1px rgba($color: #000000, $alpha: 0.03);

    &__image {
        grid-area: image;
        background: black;
        
        overflow: hidden;
        border-radius: 10px 0 0 10px;

        &--content {
            max-height: 19em;
        };

    }
}