@import 'config/colors';
@import 'config/fonts';

.info  {

    &__title {
        color: $very-dark-grayish-blue;
        font-size: 1.4em;
    }

    &__description {
        color: $desaturated-dark-blue;

        font-size: $size-13;
        font-weight: $light;
        line-height: 1.6;
        padding-right: 1em;
    }

    &__author {
        display: grid;
        grid-template-columns: 4em 10em;
        grid-template-areas: 'avatar text';

        font-size: $size-13;        
        
        &-avatar{
            grid-area: avatar;
            max-height: 2.9em;
            border-radius: 100%;
        }

        &-name {
            grid-area: text;
            font-weight: $bold;
            color: $very-dark-grayish-blue;
        }

        &-date {
            grid-area: text;
            
            font-weight: $light;
            color: $grayish-blue;
            
            align-self: flex-end;
        }
    }

    &__share {

        position: relative;

        &-button {
            display: flex;
            align-self: center;
            align-items: center;
            justify-content: center;
            
            background: $light-grayish-blue;
            border-radius: 100%;

            width: 2em;
            height: 2em;

            font-size: 1.1em;
            color: $desaturated-dark-blue;

            &--active {
                @extend .info__share-button;
                background: $very-dark-grayish-blue;
                color: $white;

                transition: background 0.3s ease;
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .info {
        &__title {
            font-size: 1.1em;
            line-height: 1.6;
            
        }

        &__description {
            padding-right: 0;
        }

        &__share {
            &-button {
                position: relative;
                z-index: 20;

                &--active {
                    
                    background: $desaturated-dark-blue;
                    color: $white;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .info {
        &__title {
            margin-top: 0;
            font-size: 0.86em;
        }
        &__description {
            font-size: 0.7em;
        }
    }
}